fieldset {
    background-color: #fff;
    border: 1px solid gray;
  }



  legend {
    margin-left: 10%;
    margin-top: -4%;
    background-color: gray;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    width: 50%;
  }

  fieldset .row{
    padding: 15px;
  }

  .form_login{
      margin-left:30%;
      margin-right:30%;
      margin-top:15%;
  }

  @media (max-width:700px){
      .form_login{
          margin-top: 4%;
          margin-left:0%;
          margin-bottom:0%;
          margin-right:0%;
      }
      .container{
          padding: 0%;
      }
  }

